/* Document font */
/* Document colors */
/* Calculator colors */
/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

table td {
  vertical-align: top;
}

html, body {
  height: 100%;
  width: 100%;
}

body.widget {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.widget-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 64.063em) {
  .widget-container {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 261px;
    height: 505px;
    min-width: 261px;
    min-height: 505px;
    width: 45vh;
    height: 90vh;
  }
}

.calculator {
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.output-display {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #29363b;
  cursor: ponter;
  overflow: hidden;
  min-height: 33%;
}

.output-display.clear {
  -webkit-animation: clear .15s 3;
          animation: clear .15s 3;
}

@-webkit-keyframes clear {
  33% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  66% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes clear {
  33% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  66% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

.output-display {
  font-size: 2em;
  font-size: 10vmin;
  font-weight: 400;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.output-display .current-calculation-display {
  display: block;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  color: #fff;
  text-align: right;
}

.output-display .former-equation-preview {
  width: 100%;
  color: #fff;
  font-size: 0.5em;
  font-size: 2.5vmin;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  text-align: right;
}

.clear .output-display {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.calculation {
  color: #485f68;
}

@-webkit-keyframes fade {
  to {
    text-shadow: 0 0 150px white;
  }
}

@keyframes fade {
  to {
    text-shadow: 0 0 150px white;
  }
}

.control-buttons {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.calculator .row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: table-row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

[disabled] {
  cursor: not-allowed;
}

button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: table-cell;
  width: 25%;
  width: calc(100%/4);
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  color: #fff;
  outline-style: solid;
  outline-width: 2px;
  outline-color: transparent;
  outline-offset: -2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f6827a;
  font-size: 4.5vmin;
  font-weight: 400;
  /* 
     * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
     * coarse: The primary input mechanism includes a pointing device of limited accuracy.
     */
}

@media not all and (pointer: coarse) {
  button:hover {
    background-color: #f46c62;
  }
}

button:active {
  background-color: #f3554a;
  outline-color: #f3554a;
}

button:last-child {
  background-color: #f7ba86;
  /* 
     * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
     * coarse: The primary input mechanism includes a pointing device of limited accuracy.
     */
}

@media not all and (pointer: coarse) {
  button:last-child:hover {
    background-color: #f5ac6e;
  }
}

button:last-child:active {
  background-color: #f49f56;
  outline-color: #f2913e;
}

button.half {
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

button.func {
  background-color: #ec475c;
  /* 
     * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
     * coarse: The primary input mechanism includes a pointing device of limited accuracy.
     */
}

@media not all and (pointer: coarse) {
  button.func:hover {
    background-color: #ea3048;
  }
}

button.func:active {
  background-color: #e71933;
  outline-color: #d1162d;
}

.slight-bottom-shadow {
  -webkit-box-shadow: 0px 0 2px rgba(41, 54, 59, 0.5);
          box-shadow: 0px 0 2px rgba(41, 54, 59, 0.5);
}
/*# sourceMappingURL=index.css.map */